@import url('https://fonts.googleapis.com/css?family=Poiret+One');


* {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.recipe {
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    background: rgb(245,245,245);

}

h1 {
    text-align: center;
    font-size: 1.5em;
}

a {
    background: black;
    color:rgb(230,230,230);
    border: none;
    padding: 10px 30px;
    margin: 5px;
    text-decoration: none;
    box-shadow: 2px;
}

a:hover {
   opacity: 0.8;
}

p {
    font-weight: bolder;
    font-size: 1.4em;
}

.image {
    border-radius: 50%;
    height: 200px;
    width: auto;
    filter: grayscale(15%);
}

.image:hover{
    filter: grayscale(0%)
}


@media screen and (max-width: 600px) {
    .recipe {
        width: 90%;
    }
}